* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: block;
    margin: 8px;
}

.grey-bg {
    background-color: #fafafa;
}

.portfolio {
    background: #fafafa;
    color: black;
    padding: 100px 0;
}

.container {
    padding: 0 100px; /* Adjusted padding for x and y directions */
}

.row {
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px; /* Adjusted maximum width */
    margin: 0 auto; /* Center align the row */
    justify-items: center;
    align-items: center;
}

.portfolio-col-1 {
    flex-basis: 40%;
   
    display: flex;
    flex-direction: column;
}

.portfolio-col-2 {
    flex-basis: 48%;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.work {
    max-width: 1100px; /* Adjusted maximum width */
    width: 100%;
    position: relative;
    margin: 40px auto; /* Center align the work section */
}

.work .slider {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    margin-top: 40px; /* Adjusted top margin */
}

.work .slider::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.slider {
    margin-top: 60px;
}

.dot-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.slider .card {
    scroll-snap-align: start;
    height: 400px; /* Adjust the height to maintain the card size */
    background: #fff;
    flex-direction: column;
    border-radius: 8px;
    flex-shrink: 0;
    width: 300px;
    margin-right: 16px; /* Add margin to create space between cards */
}

.slider :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.slider .card .img {
    height: 70%; /* Adjust the height percentage */
    width: 100%;
}

.card .img {
    width: 100%;
    height: 100%;
}

.layer {
    width: 100%;
    height: 0;
    color: #fafafa;
    background: #ff3147;
    border-radius: 0 0 8px 8px; /* Only round the bottom corners */
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.layer a {
    color: #ff3147;
    background: #F4F4F4;
    font-weight: 700;
    border: 1px solid #F4F4F4;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.dot {
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.black-dot {
    background-color: black;
    width: 8px;
    height: 8px;
}

.red-dot {
    background-color: red;
    background: url('/public/icons/1.svg');
    background-size: contain;
}

.card:hover .layer {
    height: 100%; /* Adjust the height to cover the desired area */
}

.card img {
    border-radius: 8px; /* Ensure the image corners match the card corners */
}

.portfolio-col-1 span {
    text-align: left;
  
    font-weight: 500;
    font-size: 30px;
    line-height: 80px;
    letter-spacing: 0px;
    color: #ff3147;
    text-transform: uppercase;
    text-align: left;
  }
  
  .portfolio-col-1 h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 1.2;
  
    color: #000000;
    text-transform: uppercase;
    text-align: left;
  }
  
  .portfolio-col-2 p {
    text-align: left;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    padding: 50px 0;
    color: #000000;
    text-transform: uppercase;
    opacity: 1;
  }